    <!-- TODO: Use ngForm properly with (ngSubmit) -->
    <form #projectForm="ngForm">
        <p-fieldset legend="Details">
            
            <div class="p-grid">
                
                <!-- Left Half of form -->
                <div class="p-col-6">
                    
                    <div class="p-grid">
                        <div class="p-col-3">
                            <label id="client">Client: </label>
                        </div>
                        <div class="p-col-9">
                            <p-dropdown [options]="clients" 
                                        [filter]="true" 
                                        filterBy="label" 
                                        name="client"
                                        [(ngModel)]="project.billingClient"
                                        placeholder="Select a Client">
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="p-grid">
                        <div class="p-col-3">
                            <label id="name">Name: </label>
                        </div>
                        <div class="p-col-9">
                            <input id="name" 
                                   [(ngModel)]="project.name" 
                                   type="text" 
                                   name="name"
                                   pInputText/>
                        </div>
                    </div>

                    <div class="p-grid">
                        <div class="p-col-3">
                            <label id="project-manager">Project Manager: </label>
                        </div>
                        <div class="p-col-9">
                            <p-dropdown [options]="projectManagers" 
                                        [filter]="true" 
                                        filterBy="label" 
                                        name="projectManager"
                                        [(ngModel)]="project.projectManager"
                                        placeholder="Select a Project Manager">
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="p-grid">
                        <div class="p-col-3">
                            <label id="status">Status: </label>
                        </div>
                        <div class="p-col-9">
                            <p-selectButton [options]="binaryOptions" 
                                            [(ngModel)]="project.status" 
                                            name="status"
                                            optionLabel="label" 
                                            optionValue="value"
                                            id="status">
                            </p-selectButton>
                        </div>
                    </div>

                    <div class="p-grid">
                        <div class="p-col-3">
                            <label id="billable">Billable: </label>
                        </div>
                        <div class="p-col-9">
                            <p-selectButton id="billable" 
                                            [options]="binaryOptions" 
                                            [(ngModel)]="project.billable" 
                                            name="billable"
                                            optionLabel="label" 
                                            optionValue="value">
                            </p-selectButton>
                        </div>
                    </div>

                </div>
                <!-- Left Half of form -->

                <!-- Right Half of Form -->
                <div class="p-col-6">

                    <div class="p-grid">
                        <div class="p-col-3">
                            <label for="start-date">Start Date: </label>
                        </div>
                        <div class="p-col-9">
                            <p-calendar name="startDate" 
                                        inputId="start-date" 
                                        [(ngModel)]="startDate">
                            </p-calendar>
                        </div>
                    </div>

                    <div class="p-grid">
                        <div class="p-col-3">
                            <label for="end-date">End Date: </label>
                        </div>
                        <div class="p-col-9">
                            <p-calendar name="endDate" 
                                        inputId="end-date" 
                                        [(ngModel)]="endDate">
                            </p-calendar>
                        </div>
                    </div>

                    <div class="p-grid">
                        <div class="p-col-3">
                            <label for="budget">Budget: </label>
                        </div>
                        <div class="p-col-9">
                            <input id="budget" 
                                   type="text" 
                                   [(ngModel)]="project.budget" 
                                   name="budget" 
                                   pInputText/>
                        </div>
                    </div>

                    <div class="p-grid">
                        <div class="p-col-3">
                            <label for="actual">Actual: </label>
                        </div>
                        <div class="p-col-9">
                            <input id="actual" 
                                   type="text" 
                                   [(ngModel)]="project.actualAmount" 
                                   name="actual" 
                                   pInputText/>
                        </div>
                    </div>
                    
                    <div class="p-grid">
                        <div class="p-col-3">
                            <label for="alert-when">Alert When: </label>
                        </div>
                        <div class="p-col-9">
                            <input id="alert-when" 
                                   type="text" 
                                   [(ngModel)]="project.budgetAlertPercentage" 
                                   name="alert" 
                                   pInputText/>
                            <label for="alert-when"> % of budget ($0.00) is reached.</label>
                        </div>
                    </div>
                </div>
                <!-- Right Half of Form -->

            </div>

        </p-fieldset>

        <div class="p-grid">
            <div class="p-col-6">
                <p-fieldset legend="Description: ">
                    <textarea rows="5" 
                              cols="70" 
                              [(ngModel)]="project.notes" 
                              name="description" 
                              pInputTextarea>
                    </textarea>
                </p-fieldset>
            </div>
            <div class="p-col-2">
                
            </div>
            <div id="submit-btn" class="p-col-4">
                <p-button (click)="handleSubmit()" label="Save Client"></p-button>
            </div>
        </div>  
    </form>

    Project Name: {{ project.name }}